<a href="https://colab.research.google.com/github/pavan-elisetty/bounce_assgn/blob/main/bounce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install haversine 
import pandas as pd
import numpy as np
from haversine import haversine as hav

Requirement already satisfied: haversine in /usr/local/lib/python3.7/dist-packages (2.5.1)

In [10]:
drop = pd.read_excel('https://github.com/pavan-elisetty/bounce_assgn/blob/main/drop.xlsx?raw=true')
pickup = pd.read_excel('https://github.com/pavan-elisetty/bounce_assgn/blob/main/pickup.xlsx?raw=true')

In [11]:
drop['count']=0
drop['count reach']=False
def count_check_max(x):
  if x>120:
    maxi=8
  elif x>=100 and x<120:
    maxi=4
  elif x>=50 and x<100:
    maxi=3
  elif x>=30 and x<50:
    maxi=2
  elif x>=20 and x<30:
    maxi=1
  elif x>=10 and x<20:
    maxi=1
  else:
    maxi=0
  return maxi


def count_check_min(x):
  if x>120:
    mini=6
  elif x>=100 and x<120:
    mini=2
  elif x>=50 and x<100:
    mini=2
  elif x>=30 and x<50:
    mini=1
  elif x>=20 and x<30:
    mini=1
  elif x>=10 and x<20:
    mini=0
  else:
    mini=0
  return mini
drop2=drop.copy()
drop2['dist']=0
drop2['maxi']=[count_check_max(i) for i in drop2['avg_daily_sessions/supply']]
drop2['mini']=0
drop2['mini']=[count_check_min(i) for i in drop2['avg_daily_sessions/supply']]
drop2['matched']=[[] for i in range(drop2['drop hex'].nunique())]
pickup2=pickup.copy()
pickup2['matched']=False

In [ ]:
for i in range(drop2['drop hex'].nunique()):
  hex=drop2.iloc[i][1]
  lat=drop2.iloc[i][2]
  lon=drop2.iloc[i][3]
  maxi=drop2.iloc[i][8]
  mini=drop2.iloc[i][9]
  if mini==0 or maxi==0:
    continue
  pickup2['dist']=0
  pickup2['dist']=[(hav((lat,lon),(pickup2.iloc[j][2],pickup2.iloc[j][3]),unit='km')) if (pickup2['matched'][j]!=True) else print('') for j in range(len(pickup2))]
  #print(pickup2.head())
  junk=pickup2.loc[pickup2.matched==False]
  tmp=list(junk.nsmallest(mini,'dist')['bike_id'].values)
  #print(tmp)
  
  for j in tmp:
    pickup2.loc[pickup2['bike_id']==j,'matched']=True
    drop2['matched'][i].append(int(j))

In [15]:
drop2['min_reach']=[True if len(drop2['matched'][i])>0 else False for i in range(len(drop2))]

In [16]:
drop2['count']=[drop2['maxi'][i]-drop2['mini'][i] for i in range(len(drop2))]
drop2.head()

   Priority  ... min_reach
0         1  ...      True
1         2  ...      True
2         3  ...      True
3         4  ...      True
4         5  ...      True

[5 rows x 12 columns]

In [ ]:
for i in range(drop2['drop hex'].nunique()):
  hex=drop2.iloc[i][1]
  lat=drop2.iloc[i][2]
  lon=drop2.iloc[i][3]
  maxi=drop2.iloc[i][8]
  mini=drop2.iloc[i][9]
  count=drop2.iloc[i][5]
  if count==0:
    continue
  pickup2['dist']=0
  pickup2['dist']=[(hav((lat,lon),(pickup2.iloc[j][2],pickup2.iloc[j][3]),unit='km')) if (pickup2['matched'][j]!=True) else print('') for j in range(len(pickup2))]
  #print(pickup2.head())
  junk=pickup2.loc[pickup2.matched==False]
  tmp=list(junk.nsmallest(count,'dist')['bike_id'].values)
  min=junk.loc[junk.bike_id==tmp[0]]
  if (hav((lat,lon),(min.lat,min.lon),unit='km'))>4 :
    #print('all more than 4')
    continue
  
  for j in tmp:
    min=junk.loc[junk.bike_id==j]
    if (hav((lat,lon),(min.lat,min.lon),unit='km'))>4 :
      #print('more than 4')
      continue
    pickup2.loc[pickup2['bike_id']==j,'matched']=True
    drop2['matched'][i].append(int(j))
    drop2.loc[drop2['drop hex']==hex,'count']=drop2['count'][i]-1

In [18]:
drop2

      Priority  ... min_reach
0            1  ...      True
1            2  ...      True
2            3  ...      True
3            4  ...      True
4            5  ...      True
...        ...  ...       ...
1025      1026  ...     False
1026      1027  ...     False
1027      1028  ...     False
1028      1029  ...     False
1029      1030  ...     False

[1030 rows x 12 columns]