<a href="https://colab.research.google.com/github/pavan-elisetty/bounce_assgn/blob/main/bounce_assgn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install haversine 
import pandas as pd
import numpy as np
from haversine import haversine as hav

Requirement already satisfied: haversine in /usr/local/lib/python3.7/dist-packages (2.5.1)

In [2]:
drop = pd.read_excel('https://github.com/pavan-elisetty/bounce_assgn/blob/main/drop.xlsx?raw=true')
pickup = pd.read_excel('https://github.com/pavan-elisetty/bounce_assgn/blob/main/pickup.xlsx?raw=true')

In [3]:
drop['count']=0
drop['count reach']=False
def count_check_max(x):
  if x>120:
    maxi=8
  elif x>=100 and x<120:
    maxi=4
  elif x>=50 and x<100:
    maxi=3
  elif x>=30 and x<50:
    maxi=2
  elif x>=20 and x<30:
    maxi=1
  elif x>=10 and x<20:
    maxi=1
  else:
    maxi=0
  return maxi


def count_check_min(x):
  if x>120:
    mini=6
  elif x>=100 and x<120:
    mini=2
  elif x>=50 and x<100:
    mini=2
  elif x>=30 and x<50:
    mini=1
  elif x>=20 and x<30:
    mini=1
  elif x>=10 and x<20:
    mini=0
  else:
    mini=0
  return mini
drop2=drop.copy()
drop2['dist']=0
drop2['maxi']=[count_check_max(i) for i in drop2['avg_daily_sessions/supply']]
drop2['mini']=0
drop2['mini']=[count_check_min(i) for i in drop2['avg_daily_sessions/supply']]
drop2['matched']=[[] for i in range(drop2['drop hex'].nunique())]
pickup2=pickup.copy()
pickup2['matched']=False

In [ ]:
for i in range(drop2['drop hex'].nunique()):
  hex=drop2.iloc[i][1]
  lat=drop2.iloc[i][2]
  lon=drop2.iloc[i][3]
  maxi=drop2.iloc[i][8]
  mini=drop2.iloc[i][9]
  if mini==0 or maxi==0:
    continue
  pickup2['dist']=0
  pickup2['dist']=[(hav((lat,lon),(pickup2.iloc[j][2],pickup2.iloc[j][3]),unit='km')) if (pickup2['matched'][j]!=True) else print('') for j in range(len(pickup2))]
  junk=pickup2.loc[pickup2.matched==False]
  tmp=list(junk.nsmallest(mini,'dist')['bike_id'].values)
  
  for j in tmp:
    pickup2.loc[pickup2['bike_id']==j,'matched']=True
    drop2['matched'][i].append(int(j))

In [5]:
drop2['min_reach']=[True if len(drop2['matched'][i])>0 else False for i in range(len(drop2))]

In [6]:
drop2['count']=[drop2['maxi'][i]-drop2['mini'][i] for i in range(len(drop2))]

In [ ]:
for i in range(drop2['drop hex'].nunique()):
  hex=drop2.iloc[i][1]
  lat=drop2.iloc[i][2]
  lon=drop2.iloc[i][3]
  maxi=drop2.iloc[i][8]
  mini=drop2.iloc[i][9]
  count=drop2.iloc[i][5]
  if count==0:
    continue
  pickup2['dist']=0
  pickup2['dist']=[(hav((lat,lon),(pickup2.iloc[j][2],pickup2.iloc[j][3]),unit='km')) if (pickup2['matched'][j]!=True) else print('') for j in range(len(pickup2))]
  junk=pickup2.loc[pickup2.matched==False]
  tmp=list(junk.nsmallest(count,'dist')['bike_id'].values)
  min=junk.loc[junk.bike_id==tmp[0]]
  if (hav((lat,lon),(min.lat,min.lon),unit='km'))>4 :
    continue
  
  for j in tmp:
    min=junk.loc[junk.bike_id==j]
    if (hav((lat,lon),(min.lat,min.lon),unit='km'))>4 :
      continue
    pickup2.loc[pickup2['bike_id']==j,'matched']=True
    drop2['matched'][i].append(int(j))
    drop2.loc[drop2['drop hex']==hex,'count']=drop2['count'][i]-1

In [8]:
drop2=drop2.drop(['count','count reach','dist','maxi','mini','min_reach'],axis=1)
drop2.head()

   Priority  ...                                     matched
0         1  ...  [53163, 51917, 48693, 50247, 52894, 52876]
1         2  ...                              [52480, 50419]
2         3  ...                              [53046, 48823]
3         4  ...                       [49529, 41168, 50528]
4         5  ...                       [46731, 50050, 52919]

[5 rows x 6 columns]

In [9]:
pickup2=pickup2.drop(['dist','matched'],axis=1)
pickup2.head()

   Priority order  bike_id        lat        lon
0               1    52447  13.027514  77.723228
1               2    52264  13.037857  77.705032
2               3    51500  12.937877  77.751419
3               4    52611  13.091736  77.564781
4               5    47965  12.959291  77.727295